* {
  font-family: 'Times New Roman', Times, serif;
}
html{
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  text-align: center;

  background-image: url(img/bg7.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
div {
  text-align: center;
}
header{
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    display: inline;
    align-items: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    z-index: 100;
    padding: 20px;
    border-bottom: 3px solid transparent;
}
header * {
  display: inline;
}
header li {
  margin: 40px;
}
header li a {
  color: black;
  text-decoration: none;
  padding: 20px;
}
header li a:hover {
  color: orangered;
  text-shadow: 0 0 25px orangered,
               0 0 50px orangered;
  transform: scale(1,1);
  color:  orangered;
  border-bottom: 3px solid orangered;
}
header .title {
  color: black;
  text-decoration: none;
  margin-left: 50px;
  font-style:oblique;
  font-size: 3em;
  padding: 100px;
}
header .title:hover, h1 a:hover {
  color: orangered;
  text-shadow: 0 0 25px orangered,
               0 0 50px orangered;
  transform: scale(1,1);
}
header h1 a{
  color: black;
  text-decoration: none;
  padding: 20px;
}

.info * {
  margin-top: 10px;
  margin-bottom: 50px;
  display: inline;
  background-color: white;
}
.info {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 50px;
  padding: 100px;
  margin-top: 10px;
}
.info-text {
  padding: 100px;
  max-width: 30%;
  margin: 0px;
  color: grey;
  font-size: large;
  border-width: 5px;
  border-radius: 30px;
  border-style: solid;
  border-color: black;
  display: flex;
  justify-content: center;
}
.info-text p {
  margin-bottom: 10px;
  font-size: x-large;
  text-align: justify;
}
.info img {
  padding: 0px;
  max-width: 43.5%;
  height: auto;
  margin-right: 0px;
  border-radius: 30px;
  margin-top: 50px;
}
.experience *{
  box-sizing: border-box;
  border-radius: 20px;
}
.experience h2 {
  font-size: 4em;
  color: white;
  padding-top: 50px;
}
.card-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 50px;
  align-items: center;
  justify-content: space-around;
  justify-items: center;
}
.card {
  max-width: 50%;
  height: 100%;
  background-color: white;
  color: grey;
  border-width: 5px;
  border-radius: 30px;
  border-style: solid;
  border-color: black;
}
.card h4 {
  text-align: center;
  font-size: xx-large;
}
.card p {
  text-align: center;
  font-size: x-large;
  max-width: 400px;
  padding: 10px;
}
.experience img {
  width: 70%;
  padding: 0px;
  margin-top: 20px;
  border-width: 5px;
  border-radius: 30px;
  border-style: solid;
  border-color: black;
}
.experience img:hover{
  transition: transform .2s;
  transform: scale(1.5);
  box-shadow: 0 10px 10px 10px white;
}

.about {
  background-color: black;
  color: white;
  padding: 100px;
  
  background-image: url(img/bg7.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.about h2 {
  font-size: 4em;
  color: #fff;
}
.about-text p{
  text-align: justify;
  width: 600px;
  font-size: large;
  margin-left: 700px;
  margin-top: 75px;
  margin-bottom: 100px;
}
.about img {
    width: 600px;
    height: auto;
    border-radius: 30px;
    float: left;
    margin-right: 50px;
    margin-left: 100px;
    margin-top: 15px;
}

.videos {
  background-color: black;
  color: black;
  margin-top: 100px;
  padding: 50px;
  background-image: url(img/bg7.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}
.videos h2{
  font-size: 4em;
  color: #fff;
}
.videos h4 {
  font-size: 2em;
  margin-left: 40px;
}
.vid-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 50px;
  align-items: center;
  justify-content: space-around;
  justify-items: center;
  padding: 20px;
  margin-bottom: 50px;
  background-color: #fff;
  border-width: 5px;
  border-radius: 30px;
  border-style: solid;
  border-color: black;
  
}
video {
  margin-bottom: 100px;
  background-color: black;
}
.contact{
  padding: 10px 28px;
  background-color: white;
  color: black;
  border:  2px solid transparent;
  border-radius: 8px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3 ease;
}
.contact-me {
  font-size: 10em;
  color: white;
}
.contact:hover{
  background-color: black;
  box-shadow: 0 0 25px black;
  color: white;
}
.contact-form h2{
  text-align: center;
  margin-top: 3em;
  margin-bottom: 1em;
  font-size: 36px;
}
.contact-form form{
  max-width: 50em;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3em;
}
.contact-form form .input-box{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.contact-form form .input-box input,
.contact-form form textarea{
  width: 90%;
  padding: 1.5em;
  font-size: 18px;
  color: black;
  background: rgb(241, 241, 241);
  border-radius: .8rem;
  border-width: 2px;
  margin: 1rem 0;
  resize: none;
}

.btn-box{
  width: 500px;
  display: flex;
  gap: 2em;
}
.btn-1{
  padding: 15px 28px;
  background-color: black;
  color: white;
  border: 2px solid transparent;
  border-radius: 8px;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  transition: 0.3s ease;
  cursor: pointer;
  margin-bottom: 100px;
}
.btn-1:hover{
  background-color: white;
  color: black;
  border: 2px solid black;
}             